h2, h3 {
  margin: 1em auto 0.2em;
  margin-block-start: 0;
}

h2 {
  font-size: 2em;
  text-align: center;
}

header, footer {
  background-color: #F2C0A7;
  height: 9em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  width: 4.5em;
  height: 3em;
  border: 0.18em solid black;
  border-radius: 0.05em;
  font-size: 2em;
  font-weight: 700;
  text-align: right;
}

.logo p {
  margin: 0 0.2em -0.25em;
}

.description {
  display: none;
  font-size: 1.2em;
  font-weight: 400;
  max-width: 24em;
}

.description p {
  margin: 0;  
}

nav {
  background-color: #5E747F;
  height: 2em;
  position: sticky;
  top: 0;
  /* display: none; */
  justify-content: center;
  align-items: center;
}

.nav_logo, .side_tel {
  display: none;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 60em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav li {
  display: inline;
}

nav li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  /* margin: auto 0.5em; */
  /* padding: 0 0.2em; */
}

nav li a:hover {
  text-decoration: underline;
}

section {
  padding-top: 2.4em;
  padding-bottom: 1.2em;
  max-width: 80em;
  margin: auto;
}

#photos p {
  margin: auto 12em;
}

.pswp-thumbnails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.pswp-thumbnail {
  margin: 0.3em;
}

.pswp-thumbnail img {
  border-radius: 0.1em;
}

.pswp-thumbnail img:hover {
  box-shadow:  0 0.25em #5E747F;
  cursor: pointer;
}

.textcontent {
  /* padding: 0 0.8em; */
  max-width: 50em;
  padding: 0 1.5em;
}

section#visit {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #F2C0A7;
}

.quote {
  margin: 1em;
  padding: 1em;
  border: solid 0.6em #F2AC8A;
  border-radius: 0.1em
}

.quote h1 {
  text-align: center;
}

section#stones {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #FFF4E9;
}

section#trim {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
/* 
.section_description {
  max-width: 50em;
  padding: 0 3em;
} */

.stonecontainer {
  text-align: center;
  max-width: 50em;
  margin: auto;
}

.stonecontainer img {
  display: inline-block;
  max-width: 100%;
  margin-right: 0.3em;
  margin-bottom: 0.1em;
  border-radius: 0.2em;
}

#stones h2, #trim h2 {
  text-align: center;
}

img.rc {
  width: 23%;
}

img.sq {
  width: 31%;
}

img {
  display: block;
}

form * {
  display: block;
}

form label {
  font-size: 1.2em;
}

form input, form textarea {
  margin-top: 0.2em;
  margin-bottom: 0.6em;
  font-size: 1.4em;
  border: none;
}

form button {
  font-size: 1.4em;
  width: 5em;
  background-color: #5E747F;
  border: none;
  border-radius: 0.1em;
  color: white;
}

.call_to_action {
  text-decoration: none;
  color: black;
}

.call_to_action:hover {
  text-decoration: underline;
}

@media (min-width: 23em) {
  nav {
    display: flex;
  }
}

@media (min-width: 48em) {
  header, footer {
    height: 10em;
    flex-direction: row;
  }

  .description {
    display: block;
  }

  nav li a {
    font-size: 1.4em;
    font-weight: 500;
    letter-spacing: 0.05em;
    margin: auto 2em;

  }
  .pswp-thumbnails {
    justify-content: center;
  }
}

@media (min-width: 95em) {
  .nav_logo {
    z-index: -1;
    display: block;
    position: fixed;
    top: 1em;
    left: 11.5em;
    width: 14em;
    height: 6em;
    /* background-color: #5E747F; */
    color: #5E747F;
    /* color: white; */
    font-size: 0.8em;
  }

  .nav_logo .logo {
    border: none;
  }

  .side_tel {
    display: block;
    position: fixed;
    top: 16.5em;
    left: 3em;
    width: 14em;
    text-align: center;
    /* color: #5E747F; */
  }

  .side_tel a {
    color: #5E747F;
  }

  header .call_to_action {
    display: none;
  }
  
  nav {
    position: fixed;
    top: 6em;
    left: 3em;
    height: 10em;
    width: 14em;
  }

  nav ul {
    text-align: left;
    display: inline-block;
    height: initial;
  }

  nav li {
    display: block;
    margin: 0.3em auto;
  }
  nav li a {
    margin: auto 1.5em;
  }
  
  main {
    margin-left: 16em;
  }
}
